/////combining and cleaning sales data//////

In [2]:
import pandas as pd
import numpy as np
sales_region_A={'PRODUCT_ID':['101','102','103','104'],
                'sales':[100,150,np.nan,300],
                'region':['A','A','A','A']}
sales_region_B={'PRODUCT_code':['101','102','103','104'],
                'Revenue':[100,np.nan,230,500],
                'region':['B','B','B','B']}
df1=pd.DataFrame(sales_region_A)
df2=pd.DataFrame(sales_region_B)
print(df1)
print()
print(df2)

  PRODUCT_ID  sales region
0        101  100.0      A
1        102  150.0      A
2        103    NaN      A
3        104  300.0      A

  PRODUCT_code  Revenue region
0          101    100.0      B
1          102      NaN      B
2          103    230.0      B
3          104    500.0      B

//////standardize and merge/////

In [3]:
df2.rename(columns={'PRODUCT_code':'PRODUCT_ID'},inplace=True)
print(df2)
merge=pd.concat([df1,df2],ignore_index=True)
print(merge)

  PRODUCT_ID  Revenue region
0        101    100.0      B
1        102      NaN      B
2        103    230.0      B
3        104    500.0      B
  PRODUCT_ID  sales region  Revenue
0        101  100.0      A      NaN
1        102  150.0      A      NaN
2        103    NaN      A      NaN
3        104  300.0      A      NaN
4        101    NaN      B    100.0
5        102    NaN      B      NaN
6        103    NaN      B    230.0
7        104    NaN      B    500.0

/////clean and combined data//////

In [4]:
miss_value=merge.isnull().sum()
print(miss_value)
print()
print("fill the missing values")
df1['sales']=df1['sales'].fillna(df1['sales'].mean())
print(df1)
print()
print("Drop the missing values")
print(df2)
drop=df2.dropna(subset=['Revenue'])
print(drop)

PRODUCT_ID    0
sales         5
region        0
Revenue       5
dtype: int64

fill the missing values
  PRODUCT_ID       sales region
0        101  100.000000      A
1        102  150.000000      A
2        103  183.333333      A
3        104  300.000000      A

Drop the missing values
  PRODUCT_ID  Revenue region
0        101    100.0      B
1        102      NaN      B
2        103    230.0      B
3        104    500.0      B
  PRODUCT_ID  Revenue region
0        101    100.0      B
2        103    230.0      B
3        104    500.0      B

//////sales Analyze////

In [5]:
df2.rename(columns={'Revenue':'sales'},inplace=True)
print("After changing region B revenue into sales")
print(df2)
print("fill the missing values in region B")
df2['sales']=df2['sales'].fillna(df2['sales'].mean())
print(df2)
merge_sales=pd.concat([df1,df2],ignore_index=True)
print("mergeing both columns")
print(merge_sales)
print("using groupby function to get total sales")
total_sales=merge_sales.groupby('PRODUCT_ID')['sales'].sum()
print(total_sales)

After changing region B revenue into sales
  PRODUCT_ID  sales region
0        101  100.0      B
1        102    NaN      B
2        103  230.0      B
3        104  500.0      B
fill the missing values in region B
  PRODUCT_ID       sales region
0        101  100.000000      B
1        102  276.666667      B
2        103  230.000000      B
3        104  500.000000      B
mergeing both columns
  PRODUCT_ID       sales region
0        101  100.000000      A
1        102  150.000000      A
2        103  183.333333      A
3        104  300.000000      A
4        101  100.000000      B
5        102  276.666667      B
6        103  230.000000      B
7        104  500.000000      B
using groupby function to get total sales
PRODUCT_ID
101    200.000000
102    426.666667
103    413.333333
104    800.000000
Name: sales, dtype: float64