/////movie rating Data prep///

In [3]:
import pandas as pd
import numpy as np
movie_rating={"movie_name":['inception','Titanic','the matrix'],
              'ratings':['4.4',np.nan,'3.5']}
movie_info={"movie_name":['inception','Titanic','the matrix'],
            "release_year":['1997','2000','2001']}
df1=pd.DataFrame(movie_rating)
df2=pd.DataFrame(movie_info)
print(df1)
print()
print(df2)

   movie_name ratings
0   inception     4.4
1     Titanic     NaN
2  the matrix     3.5

   movie_name release_year
0   inception         1997
1     Titanic         2000
2  the matrix         2001

///fill na missing values///

In [4]:
df1['ratings']=df1['ratings'].fillna(0)
print(df1)

   movie_name ratings
0   inception     4.4
1     Titanic       0
2  the matrix     3.5

////standardize string entries///

In [11]:
df1['movie_name']=df1['movie_name'].str.lower().str.strip()
print(df1)
print()
df2['movie_name']=df2['movie_name'].str.lower().str.strip()
print(df2)
print("\nmerging two sets")
print()
merge=pd.merge(df1,df2,how='inner',on=None)
print(merge)

   movie_name ratings
0   inception     4.4
1     titanic       0
2  the matrix     3.5

   movie_name release_year
0   inception         1997
1     titanic         2000
2  the matrix         2001

merging two sets

   movie_name ratings release_year
0   inception     4.4         1997
1     titanic       0         2000
2  the matrix     3.5         2001